In [35]:
from glob import glob
import yaml

params = glob("../data/params/*.yaml")

In [36]:
seeds = [p.split("/")[-1].split(".")[0] for p in params]

In [41]:
import numpy as np

def right_candidate(t0, period, true_t0, true_period, verbose=False):
    t0_check = np.abs((t0  - true_t0 + 0.5 * true_period) % true_period - 0.5 * true_period)%period < 0.01
    period_check = np.abs(period - true_period) < 0.1
    same = np.logical_and(t0_check, period_check)
    if verbose:
        if not same:
            if not t0_check:
                output = f"t0 differ: {t0:.2e} {true_t0:.2e}"
            if not period_check:
                output = f"period differ: {period:.2e} {true_period:.2e}"
        else:
            output = "match"
        return same, output
    else:
        return same

In [46]:
nuance_detected = []
wotan_tls_detected = []
relative_duration = []
relative_depth = []

for seed in seeds:
    params = yaml.full_load(open(f"../data/params/{seed}.yaml", "r"))
    wotan_result = yaml.full_load(open(f"../data/results/wotan_tls/{seed}.yaml", "r"))
    nuance_result = yaml.full_load(open(f"../data/results/nuance/{seed}.yaml", "r"))
    wotan_tls_detected.append(right_candidate(params['t0'], params['period'], wotan_result['t0'], wotan_result['period']))
    nuance_detected.append(right_candidate(params['t0'], params['period'], nuance_result['t0'], nuance_result['period']))
    relative_depth.append(params['relative_depth'])
    relative_duration.append(params['relative_duration'])

In [52]:
import pandas as pd
    
df = pd.DataFrame({
    "relative_duration": relative_duration,
    "relativce_depth": relative_depth,
    "wotan_tls": wotan_tls_detected,
    "nuance_detected": nuance_detected
})

In [53]:
df.to_csv(")

   relative_duration  relativce_depth  wotan_tls  nuance_detected
0           2.143408         3.629590      False            False
1        1000.000000         0.100000       True             True
2           2.798910         3.569924      False             True
3           2.236375         0.227039      False             True

In [54]:
df

   relative_duration  relativce_depth  wotan_tls  nuance_detected
0           2.143408         3.629590      False            False
1        1000.000000         0.100000       True             True
2           2.798910         3.569924      False             True
3           2.236375         0.227039      False             True